// Primary colors
$color-eastern-blue = #2696AF
$color-blue-violet = #5E6DBE

// Secondary colors
$color-atoll = #0E6176
$color-persian-green = #00A99D
$color-bay-of-many = #212F79
$color-portage = #8985E6

// Disabled colors
$color-powder-blue = #B1D8E4

// Text colors
$color-midnight = #000A24
$color-shuttle-gray = #556677
$color-black = #000

// Grays
$color-alto = #D4D4D4
$color-gallery = #EFEFEF
$color-alabaster = #F8F8F8

// Backgrounds
$color-catskill-white = #E3EBF2
$color-black-squeeze = #EEF4F9
$color-hawkes-blue = #DEE5FC
$color-titan-white = #E8EAFF
$color-iceberg = #D9F2F0
$color-white = #FFF

// Gradients
$gradient-white-to-black-squeeze = unquote("linear-gradient(to bottom, #FFF 0%, ") $color-black-squeeze unquote(" 100%)")
$gradient-eastern-blue-to-atoll = unquote("linear-gradient(to bottom, ") $color-eastern-blue unquote(" 0%, ") $color-atoll unquote(" 100%)")
$gradient-blue-violet-to-persian-green = unquote("linear-gradient(to bottom, ") rgba($color-blue-violet, .23) unquote(" 0%, ") rgba($color-persian-green, .23) unquote(" 100%)")
$gradient-portage-to-persian-green = unquote("linear-gradient(to bottom, ") rgba($color-portage, .23) unquote(" 0%, ") rgba($color-persian-green, .23) unquote(" 100%)")

// Message colors
$color-java = #21D0A9
$color-disabled-java = #9AE4CB
$color-buttercup = #F5A623
$color-disabled-buttercup = #F6CA86
$color-monza = #D0021B
$color-disabled-monza = #EA959C

$stylings = {
  default: {
    textDefault: $color-black,
    textHover: $color-black,
    textActive: $color-black,
    textDisabled: $color-alto,
    default: $color-white,
    hover: $color-white - 10,
    active: $color-white - 20,
    disabled: $color-alabaster
  },
  primary: {
    'theme-none': {
      default: $color-shuttle-gray,
      hover: $color-shuttle-gray - 10,
      active: $color-shuttle-gray - 20,
      disabled: $color-alabaster
    },
    'theme-default': {
      default: $color-eastern-blue,
      hover: $color-atoll,
      active: $color-persian-green,
      focus: $color-persian-green,
      disabled: $color-powder-blue
    },
  },
  success: {
    default: $color-java,
    disabled: $color-disabled-java
  },
  warning: {
    default: $color-buttercup,
    disabled: $color-disabled-buttercup
  },
  danger: {
    default: $color-monza,
    disabled: $color-disabled-monza
  },
}
