// Primary colors
$color-eastern-blue = #2696AF
$color-blue-violet = #5E6DBE

// Secondary colors
$color-atoll = #0E6176
$color-persian-green = #00A99D
$color-bay-of-many = #212F79
$color-portage = #8985E6

// Disabled colors
$color-powder-blue = #B1D8E4

// Text colors
$color-midnight = #000A24
$color-shuttle-gray = #556677
$color-black = #000

// Grays
$color-alto = #D4D4D4
$color-gallery = #EFEFEF
$color-alabaster = #F8F8F8

// Backgrounds
$color-catskill-white = #E3EBF2
$color-black-squeeze = #EEF4F9
$color-hawkes-blue = #DEE5FC
$color-titan-white = #E8EAFF
$color-iceberg = #D9F2F0
$color-white = #FFF

// Message colors
$color-java = #21D0A9
$color-disabled-java = #9AE4CB
$color-buttercup = #F5A623
$color-disabled-buttercup = #F6CA86
$color-monza = #D0021B
$color-disabled-monza = #EA959C
$color-lavender-blush = #FFEBEE
