/////////////////////////////////////
// Animations
/////////////////////////////////////
$animation-duration = .2s
$animation-duration-fast = .05s
$animation-easing = ease-in-out


/////////////////////////////////////
// Colors
/////////////////////////////////////
$color-dusty-gray = #979797
$color-alto = #D4D4D4
$color-catskill-white = #E3EBF2
$color-white = #FFF

$color-eastern-blue = #1896B4
$color-black-squeeze = #EEF4F9

$color-midnight = #000A24

$color-monza = #D0021B

$color-shuttle-gray = #556677


/////////////////////////////////////
// Misc
/////////////////////////////////////
$default-width = 200px
