/////////////////////////////////////
// Animations
/////////////////////////////////////
$animation-duration = .2s
$animation-easing = ease-in-out


/////////////////////////////////////
// Colors
/////////////////////////////////////
$color-dusty-gray = #979797

$color-eastern-blue = #1896B4

$color-midnight = #000A24

$color-monza = #D0021B
