/////////////////////////////////////
// Animations
/////////////////////////////////////
$animation-duration = .2s
$animation-duration-fast = .05s
$animation-easing = ease-in-out


/////////////////////////////////////
// Colors
/////////////////////////////////////
$color-dusty-gray = #979797
$color-alto = #D4D4D4
$color-catskill-white = #E3EBF2
$color-white = #FFF
$color-mercury = #E5E5E5
$color-silver = #CDCDCD

$color-eastern-blue = #1896B4
$color-surfie-green = #0E6176
$color-black-squeeze = #EEF4F9
$color-botticelli = #D1DDE7
$color-powder-blue = #AED8E4

$color-midnight = #000A24
$color-black = #000

$color-monza = #D0021B
$color-mandys-pink = #F1B4BB

$color-shuttle-gray = #556677


/////////////////////////////////////
// Misc
/////////////////////////////////////
$default-width = 200px
