@require "../theme/colors"

.junipero.dropdown-item
  &:hover
    background: $color-black-squeeze

    a
      color: $color-eastern-blue

  a
    text-decoration: none
    padding: 5px 20px
    display: block
    cursor: pointer
