@import "utils/colors"

.junipero
  font-family: "Open Sans", sans-serif
  font-size: 14px
  color: $color-midnight

  &, & *
    outline: none
    box-sizing: border-box

  &.junipero-field
    position: relative
    display: block

    &.dirty, &.dirty.focused
      &.with-label, &.boxed.with-label
        & > .field-wrapper

          & > label
            opacity: 1
            transform: translate3d(0, 0, 0)

          & > .field,
          .junipero-dropdown > .field
            padding-top: 21px
            padding-bottom: 5px

    &.disabled
      opacity: .3

    .field-wrapper
      position: relative

      label
        position: absolute
        left: 0
        top: 0
        width: 100%
        font-size: 12px
        margin: 5px 0
        user-select: none
        pointer-events: none
        z-index: 2
        opacity: 0
        transform: translate3d(0, 10px, 0)
        transition: all .2s ease-out
        line-height: initial

      .field
        width: 100%
        padding: 13px 0
        background: transparent
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        border: none
        border-bottom-width: 1px
        border-bottom-style: solid
        transition: all .2s ease-out
        appearance: none
        font-size: 14px
        border-radius: 0
        text-decoration: none
        cursor: default
        line-height: 21px
        min-height: 48px

    .error
      margin: 8px 0 4px
      display: block
      font-size: 11px
      line-height: initial

    &.boxed

      & > .field-wrapper

        & > label
          padding-left: 10px

        & > .field,
        .junipero-dropdown > .field
          padding: 13px 10px
          border-radius: 4px 4px 0 0

    &.theme-none
      & > .field-wrapper
        & > label
          color: $color-shuttle-gray

        & > .field,
        .junipero-dropdown > .field
          border-bottom-color: $color-shuttle-gray
          color: $color-shuttle-gray

      &.boxed
        & > .field-wrapper
          & > .field,
          .junipero-dropdown > .field
            background: $color-alabaster

    &.theme-default

      &.focused, &.dirty, &.opened, &:focus
        & > .field-wrapper
          & > label
            color: $color-eastern-blue

          & > .field,
          .junipero-dropdown > .field
            color: $color-shuttle-gray
            border-bottom-color: $color-eastern-blue

      .error
        color: $color-monza

      &.boxed
        & > .field-wrapper
          & > .field,
          .junipero-dropdown > .field
            background: $color-catskill-white

  h1&
    font-size: 40px

  h2&
    font-size: 24px

  h3&
    font-size: 18px

  h4&
    font-size: 16px
    font-weight: 300
