@import "utils/vars"
@import "utils/colors"

.junipero
  font-family: "Open Sans", sans-serif
  font-size: 14px
  color: $color-midnight

  &, & *
    outline: none
    box-sizing: border-box

  &.junipero-field
    position: relative
    display: block

    &.dirty, &.dirty.focused
      &, &.boxed
        .field-wrapper
          label
            opacity: 1
            transform: translate3d(0, 0, 0)

          .field
            padding-top: 21px
            padding-bottom: 5px

    &.disabled
      opacity: .3

    .field-wrapper
      position: relative

      label
        color: $color-shuttle-gray
        position: absolute
        left: 0
        top: 0
        width: 100%
        font-size: 12px
        margin: 5px 0
        user-select: none
        pointer-events: none
        z-index: 2
        opacity: 0
        transform: translate3d(0, 10px, 0)
        transition: all .2s ease-out

      .field
        width: 100%
        padding: 13px 0
        background: transparent
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        border: none
        border-bottom: 1px solid $color-shuttle-gray
        transition: all .2s ease-out
        appearance: none
        font-size: 14px
        border-radius: 0
        color: $color-shuttle-gray
        text-decoration: none

    .error
      margin: 8px 0 4px
      color: $color-monza
      display: block
      font-size: 14px
      line-height: 18px

    &.boxed

      & > .field-wrapper

        label
          padding-left: 10px

        .field
          padding: 13px 10px
          background: $color-alabaster
          border-radius: 4px 4px 0 0

    &.theme-default

      &.focused, &.dirty, &.opened
        & > .field-wrapper
          label
            color: $color-eastern-blue

          .field
            border-bottom-color: $color-eastern-blue

      &.boxed
        & > .field-wrapper
          .field
            background: $color-catskill-white
