@require "./theme/colors"

@import "./BreadCrumb"
@import "./Button"
@import "./CheckboxField"
@import "./CodeField"
@import "./ColorField"
@import "./DateField"
@import "./Dropdown"
@import "./DropdownToggle"
@import "./DropdownMenu"
@import "./DropdownItem"
@import "./Modal"
@import "./SelectField"
@import "./TextField"

.junipero
  font-family: "Open Sans", sans-serif
  font-size: 16px
  color: $color-midnight

  &, & *
    outline: none
    box-sizing: border-box
