@import "../utils/colors"
@import "../utils/animations"

.junipero.junipero-check-box

  label.check-wrapper
    display: flex
    flex-wrap: wrap

    .check-inner
      max-width: none
      width: auto
      flex: 0 0 auto

      input
        display: none

      .check
        width: 16px
        height: 16px
        border-width: 2px
        border-style: solid
        border-radius: 2px
        line-height: 15px
        margin-top: 3px
        margin-right: 10px
        transition: background, transform
        transition-duration: $animation-duration-fast
        transition-timing-function: $animation-easing
        position: relative

        &:after
          content: ''
          width: 6px
          height: 11px
          border-bottom: 2px solid $color-white
          border-right: 2px solid $color-white
          transform: rotate(45deg)
          position: absolute
          top: -1px
          left: 3px
          opacity: 0
          transition: opacity
          transition-duration: $animation-duration-fast
          transition-timing-function: $animation-easing

    .label
      max-width: 100%
      width: auto
      flex-grow: 1
      flex-basis: 0
      line-height: initial

  &.checked
    label.check-wrapper
      .check-inner
        .check
          &:after
            opacity: 1
            animation: scaleUp $animation-duration $animation-easing

  &.active
    .check-inner
      .check
        transform: scale(0.9)

  &.disabled
    .check-inner
      opacity: .3

  &.theme-none
    .check
      border-color: $color-shuttle-gray

    &.checked
      .check
        background: $color-shuttle-gray

  &.theme-default
    .check
      border-color: $color-eastern-blue

    &.checked
      .check
        background: $color-eastern-blue

@keyframes scaleUp
  0%
    transform: scale(1) rotate(45deg)

  50%
    transform: scale(1.2) rotate(45deg)

  100%
    transform: scale(1) rotate(45deg)
