@import "../utils/vars"
@import "../utils/colors"

.junipero.junipero-select-field
  display: block
  min-width: $default-width
  position: relative

  .junipero-dropdown,
  .junipero-dropdown-toggle
    display: block

  a.field, select.field
    display: block
    color: $color-shuttle-gray

  &.dirty, &.dirty.focused, &.force-label
    &.with-label, &.boxed.with-label
      & > .field-wrapper
        & > label
          opacity: 1
          transform: translate3d(0, 0, 0)

        & > .field,
        .junipero-dropdown > .field
          padding-top: 21px
          padding-bottom: 5px

        &:after
          top: 28px


  & > .field-wrapper
    position: relative

    & > .field,
    .junipero-dropdown > .field
      padding-right: 30px

    &:after
      content: ''
      width: 0
      height: 0
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      border-top: 5px solid $color-shuttle-gray
      position: absolute
      right: 10px
      top: 21px

  ul.junipero-dropdown-menu-inner

    li.auto-complete
      padding: 0 20px 20px

      .junipero.junipero-field.text-field
        .field-wrapper
          .field-inner
            flex: auto

    &.auto-completing
      li.junipero-dropdown-item
        pointer-events: none
        opacity: .5
