@import "../utils/colors"

.junipero.bread-crumb
  display: inline
  cursor: default

  span
    color: $color-shuttle-gray

    &:after
      content: ">"
      margin: 0 5px
      display: inline
      position: relative
      top: 1px

    &:last-child
      font-weight: bold
      color: $color-midnight

      &:after
        display: none
