@import "../utils/vars"

.junipero.bread-crumb
  font-size: 12px
  display: inline
  cursor: default

  span

    &:after
      content: ">"
      margin: 0 5px
      display: inline
      position: relative
      top: 1px

    &:last-child
      font-weight: bold

      &:after
        display: none
