@import "../utils/colors"

applyColors(colors = {})
  &, &:visited
    color: colors.textDefault or $color-white
    background: colors.default
    border-color: colors.default

  &:hover, &.selected
  &.reversed:hover, &.reversed.selected
    color: colors.textHover or $color-white
    background: colors.hover or (colors.default - 25)
    border-color: colors.hover or (colors.default - 25)

  &:active,
  &.reversed:active
    color: colors.textActive or $color-white
    background: colors.active or (colors.default - 50)
    border-color: colors.active or (colors.default - 50)

  &:focus
  &.reversed:focus
    color: colors.textFocus or $color-white
    background: colors.focus or colors.default
    border-color: colors.focus or colors.default

  &:disabled, &.disabled
    color: colors.textDisabled or colors.textDefault or $color-white
    background: colors.disabled or rgba(colors.default, .5)
    border-color: colors.disabled or rgba(colors.default, .5)

  &.reversed
    &, &.visited
      border-color: colors.default
      color: colors.default
      background: transparent

    &:disabled, &.disabled
      color: colors.disabled or rgba(colors.default, .5)
      background: transparent
      border-color: colors.disabled or rgba(colors.default, .5)

.junipero.junipero-button
  display: inline
  padding: 7px 15px
  font-size: 12px
  font-weight: bold
  user-select: none
  background: $color-white
  color: $color-black
  border-radius: 2px
  border: 1px solid transparent
  display: inline-block

  for type, colors in $stylings
    &.{type}

      if 'theme-default' in colors
        for themeName, themeColors in colors
          &.{themeName}
            applyColors(themeColors)
      else
        applyColors(colors)

  &.size-big
    padding: 10px 30px
    font-size: 16px

  .icon
    vertical-align: middle
    font-size: 16px
    position: relative
    top: -2px
