@import "../utils/colors"

.junipero.junipero-code-field
  padding: 20px 0
  display: inline-block

  input
    border: none
    outline: none
    padding: 9px 0
    border-bottom: 2px solid transparent
    background: transparent
    font-size: 20px
    line-height: 27px
    margin-right: 10px
    text-align: center
    width: 45px

    &:last-child
      margin-right: 0

    &.disabled
      opacity: .5
      pointer-events: none

  &.theme-none
    input
      border-bottom-color: $color-shuttle-gray + 80
      color: $color-shuttle-gray

      &:focus, &.dirty
        border-bottom-color: $color-shuttle-gray

  &.theme-default

    input
      color: $color-eastern-blue
      border-bottom-color: $color-shuttle-gray + 80

      &:focus, &.dirty
        border-bottom-color: $color-eastern-blue

  &.error

    input
      color: $color-monza
      border-color: $color-monza
