@import "../utils/colors"

.junipero.junipero-field.date-field
  position: relative

  a.field
    display: block

  &.with-label
    &, &.boxed
      & > .field-wrapper
        & > label
          opacity: 1
          transform: translate3d(0, 0, 0)

        & > .field
          padding-top: 21px
          padding-bottom: 5px

        &:after
          top: 28px

  & > .field-wrapper
    position: relative

    & > .field
      padding-right: 30px

    &:after
      content: ''
      width: 0
      height: 0
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      border-top: 5px solid $color-shuttle-gray
      position: absolute
      right: 10px
      top: 21px

  .calendar
    position: absolute
    z-index: 1000
    box-shadow: 0 2px 8px 0 rgba($color-eastern-blue, 0.2)
    background: $color-white
    border-radius: 2px
    min-width: $default-width
    max-width: $default-max-width
    list-style: none
    padding: 10px 0

    &[class*="placement-bottom"]
      top: calc(100% + 10px)

      &[class*="-left"]
        left: 0

      &[class*="-right"]
        right: 0

    &[class*="placement-top"]
      bottom: calc(100% + 10px)

    &[class*="placement-bottom"],
    &[class*="placement-top"]
      &[class*="-left"]
        left: 0

      &[class*="-right"]
        right: 0

    &.placement-left
      right: calc(100% + 10px)

    &.placement-right
      left: calc(100% + 10px)

    .calendar-header
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 10px

      .arrow-wrapper
        max-width: 100%
        width: auto
        display: block
        padding: 0 15px
        min-width: 0
        cursor: pointer

        .arrow
          border-style: solid
          color: $color-eastern-blue
          display: inline-block
          height: 9px
          margin-left: 3px
          margin-right: 3px
          transform: rotate(-135deg)
          width: 9px

        &.left
          .arrow
            border-width: 2px 2px 0 0

        &.right
          .arrow
            border-width: 0 0 2px 2px

      .current-month
        padding: 5px

    .calendar-body
      padding: 0 15px
      font-size: 12px

      .week-days
        display: flex
        align-items: center
        justify-content: space-between
        color: $color-eastern-blue
        font-weight: bold

        .week-day
          text-align: center
          min-width: 30px

      .days
        display: flex
        align-items: center
        justify-content: space-around
        flex-wrap: wrap

        .day
          min-width: 30px
          display: inline-block
          text-align: center
          padding: 5px 0
          border-radius: 4px
          color: $color-midnight
          text-decoration: none
          cursor: pointer

          &:hover
            background: $color-athens-gray

          &.inactive
            color: $color-pale-sky
            opacity: .5

          &.active
            background: $color-eastern-blue
            color: $color-white

        .separator
          width: 100%
          min-width: 100%
