@import "../utils/vars"
@import "../utils/colors"

.junipero

  &.junipero-dropdown,
  &.junipero-dropdown-toggle
    display: inline-block

  &.junipero-dropdown-menu
    z-index: 1000

    .junipero-dropdown-menu-inner
      background: $color-white
      border-radius: 2px
      min-width: $default-width
      list-style: none
      padding: 10px 0
      margin: 0
      max-height: 300px
      overflow: auto
      text-align: left

      .junipero-dropdown-item
        cursor: pointer

        a
          text-decoration: none
          padding: 5px 20px
          display: block

      .empty
        padding: 0 20px
        margin-bottom: 0

  &.opened
    &.junipero-dropdown-menu
      visibility: visible
      pointer-events: initial
      opacity: 1

  &.closed
    &.junipero-dropdown-menu
      visibility: hidden
      pointer-events: none
      opacity: 0

  &.theme-none
    .junipero-dropdown-menu-inner
      box-shadow: 0 2px 8px 0 rgba($color-shuttle-gray, 0.2)

      .junipero-dropdown-item

        &:hover
          background: $color-alabaster

        a
          color: $color-shuttle-gray

  &.theme-default
    .junipero-dropdown-menu-inner
      box-shadow: 0 2px 8px 0 rgba($color-eastern-blue, 0.2)

      .junipero-dropdown-item

        &:hover
          background: $color-black-squeeze

        a
          color: $color-eastern-blue
