@import "../utils/colors"
@import "~react-intl-tel-input/dist/main.css"

.junipero.junipero-field.phone-field
  margin-bottom: 20px

  .field-wrapper

    ::placeholder
      color: $color-shuttle-gray
      opacity: 1
      transition: color .2s ease-out

    ::-webkit-placeholder
      color: $color-shuttle-gray
      transition: color .2s ease-out

    :-ms-input-placeholder
      color: $color-shuttle-gray
      transition: color .2s ease-out

    ::-ms-input-placeholder
      color: $color-shuttle-gray
      transition: color .2s ease-out

    .field
      padding: 10px 10px 10px 35px

    label
      left: 35px

  .intl-tel-input
    display: block

    .flag-container
      left: 0
      right: initial

      &:focus
        outline: none

      &:hover
        cursor: default

    .selected-flag
      padding-left: 0

      &:focus
        outline: none

      &:hover
        cursor: pointer

    .country-list
      background: $color-alabaster
      border: none
      box-shadow: 0 2px 4px 0 rgba($color-eastern-blue, 0.20)
      color: $color-midnight
      font-size: 12px
      margin-top: 10px
      position: relative

  &.dirty
    .field
      padding-bottom: 0

  &.boxed

    .field-wrapper

      label
        left: 50px
        padding-left: 0

      .selected-flag
        padding-left: 15px

      .field
        padding: 10px 10px 10px 50px

    &.dirty
      .field
        padding-bottom: 0

    &.boxed
      .field-wrapper
        .field
          background: $color-alabaster

  &.theme-default
    .country-list
      background: $color-black-squeeze

    &.focused, &.dirty
      .field-wrapper
        .field
          color: $color-shuttle-gray
          border-bottom-color: $color-eastern-blue

        ::placeholder
          color: $color-eastern-blue
          opacity: 1

        ::-webkit-placeholder
          color: $color-eastern-blue

        :-ms-input-placeholder
          color: $color-eastern-blue

        ::-ms-input-placeholder
          color: $color-eastern-blue

    &.boxed
      .field-wrapper
        .field
          background: $color-catskill-white
