@import "../utils/colors"

.junipero.junipero-switch

  .junipero.junipero-button
    border-radius: 0
    position: relative
    margin-left: -1px
    z-index: 0
    display: inline-block

    &:hover
      z-index: 1

    &:first-child
      border-radius: 2px 0 0 2px
      margin-left: 0

    &:last-child
      border-radius: 0 2px 2px 0
