.junipero.switch

  .junipero.button
    border-radius: 0

    &:first-child
      border-radius: 2px 0 0 2px
      border-right: 0

    &:last-child
      border-radius: 0 2px 2px 0
      border-left: 0
