@import "../utils/colors"

.junipero.junipero-tabs

  ul.tabs-titles
    display: inline-block
    padding: 0
    list-style: none
    border-bottom: 1px solid $color-alto

    li
      display: inline-block
      padding: 0
      position: relative

      &:last-child
        margin-right: 0

      &.active
        &:after
          content: ""
          width: 100%
          position: absolute
          height: 2px
          bottom: -1px
          left: 0

      &.disabled
        opacity: .5

        a
          cursor: default

      a
        text-decoration: none
        cursor: pointer
        padding: 15px 30px
        display: inline-block

  &.disabled
    opacity: .5

    ul.tabs-titles
      li.disabled
        opacity: 1

      li
        a
          cursor: default

  &.theme-none
    .tabs-titles
      a
        color: $color-shuttle-gray

      li.active
        &:after
          background: $color-black

        a
          color: $color-black

  &.theme-default
    .tabs-titles
      a
        color: $color-midnight

      li.active
        &:after
          background: $color-eastern-blue

        a
          color: $color-eastern-blue
