@import "../utils/vars"

.junipero.junipero-field.tags-field
  cursor: text

  .field-wrapper

    .field
      white-space: initial
      line-height: initial
      margin-top: -5px

      span.tag
        display: inline-block
        padding: 2px 8px 4px
        background: $color-eastern-blue
        color: $color-white
        margin-right: 5px
        margin-top: 5px
        cursor: default

        &.active
          background: $color-monza

      input
        width: 150px
        padding-top: 2px
        padding-bottom: 4px
        margin-top: 5px
        border: none
        display: inline-block
        box-shadow: none
        appearance: none
        background: transparent
