@import "../utils/colors"

.junipero.junipero-field.tags-field
  cursor: text

  .field-wrapper

    .field
      white-space: initial
      line-height: initial
      margin-top: -5px

      span.tag
        display: inline-block
        padding: 2px 8px 4px
        color: $color-white
        margin-right: 5px
        margin-top: 5px
        cursor: default

        &.active
          background: $color-monza

        i.delete
          display: inline-block
          vertical-align: middle
          width: 10px
          height: 10px
          position: relative
          margin-left: 5px
          cursor: pointer

          &:before, &:after
            content: ''
            height: 100%
            position: absolute
            width: 2px
            background: $color-white
            left: calc(50% - 1px)
            top: 0

          &:before
            transform: rotate(45deg)

          &:after
            transform: rotate(-45deg)

      input
        width: 150px
        padding-top: 2px
        padding-bottom: 4px
        margin-top: 5px
        border: none
        display: inline-block
        box-shadow: none
        appearance: none
        background: transparent

  &.theme-none
    span.tag
      background: $color-shuttle-gray

  &.theme-default
    span.tag
      background: $color-eastern-blue
