@import "../utils/vars"

.junipero.junipero-field.text-field
  .field-wrapper

    .field-inner

      input.field,
      textarea.field
        border: none
        display: block
        box-shadow: none
