@import "../utils/vars"
@import "../utils/colors"

.junipero.junipero-field.text-field
  .field-wrapper

    input.field,
    textarea.field
      box-shadow: none

    ::placeholder
      transition: color .2s ease-out
      color: $color-shuttle-gray
      opacity: 1

    ::-webkit-placeholder
      transition: color .2s ease-out
      color: $color-shuttle-gray

    :-ms-input-placeholder
      transition: color .2s ease-out
      color: $color-shuttle-gray

    ::-ms-input-placeholder
      transition: color .2s ease-out
      color: $color-shuttle-gray

  &.theme-default
    &.focused, &.dirty
      .field-wrapper
        ::placeholder
          color: $color-eastern-blue
          opacity: 1

        ::-webkit-placeholder
          color: $color-eastern-blue

        :-ms-input-placeholder
          color: $color-eastern-blue

        ::-ms-input-placeholder
          color: $color-eastern-blue
