@import "../utils/colors"
@import "../utils/animations"

.junipero.junipero-toggle
  display: inline-block
  cursor: default

  .toggle-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center

    .toggle-inner
      max-width: 50px
      flex: 0 0 auto

      input
        display: none

      .toggle
        width: 40px
        margin-right: 10px
        height: 20px
        border-radius: 20px
        position: relative
        transition: background $animation-duration-fast $animation-easing
        padding: 2px

        .handle
          background: $color-white
          width: 16px
          height: 16px
          border-radius: 100%
          position: relative
          left: 0
          transition-property: left, transform
          transition-duration: $animation-duration-fast
          transition-timing-function: $animation-easing

    .label
      max-width: 100%
      width: auto
      flex-grow: 1
      flex-basis: 0
      user-select: none

  &.checked
    .toggle-wrapper
      .toggle-inner
        .toggle
          .handle
            left: 100%
            transform: translateX(-100%)

  &.disabled
    .toggle-wrapper
      opacity: .3

  &.theme-none
    .toggle
      background: $color-alto

    .label
      color: $color-alto

    &.checked
      .toggle
        background: $color-shuttle-gray

      .label
        color: $color-shuttle-gray

  &.theme-default
    .toggle
      background: $color-catskill-white

    .label
      color: $color-catskill-white

    &.checked
      .toggle
        background: $color-eastern-blue

      .label
        color: $color-eastern-blue
