@import "../utils/vars"
@import "../utils/colors"

.junipero.junipero-tooltip
  color: $color-white
  border-radius: 3px
  padding: 8px 21px
  text-align: center
  z-index: 999
  opacity: 0
  pointer-events: none
  max-width: $default-max-width

  &.opened
    opacity: 1

  .arrow
    position: absolute

  &[data-placement*="top"] .arrow,
  &[data-placement*="bottom"] .arrow
    border-left: 8px solid transparent
    border-right: 8px solid transparent

  &[data-placement*="left"] .arrow,
  &[data-placement*="right"] .arrow
    border-top: 8px solid transparent
    border-bottom: 8px solid transparent

  &[data-placement*="top"]
    margin-bottom: 16px

    .arrow
      border-top-width: 8px
      border-top-style: solid
      bottom: -8px

  &[data-placement*="bottom"]
    margin-top: 16px

    .arrow
      border-bottom-width: 8px
      border-bottom-style: solid
      top: -8px

  &[data-placement*="right"]
    margin-left: 16px

    .arrow
      border-right-width: 8px
      border-right-style: solid
      left: -8px

  &[data-placement*="left"]
    margin-right: 16px

    .arrow
      border-left-width: 8px
      border-left-style: solid
      right: -8px

  &.theme-none
    background: $color-shuttle-gray

    &[data-placement*="top"] .arrow
      border-top-color: $color-shuttle-gray

    &[data-placement*="right"] .arrow
      border-right-color: $color-shuttle-gray

    &[data-placement*="bottom"] .arrow
      border-bottom-color: $color-shuttle-gray

    &[data-placement*="left"] .arrow
      border-left-color: $color-shuttle-gray

  &.theme-default
    background: $color-atoll

    &[data-placement*="top"] .arrow
      border-top-color: $color-atoll

    &[data-placement*="right"] .arrow
      border-right-color: $color-atoll

    &[data-placement*="bottom"] .arrow
      border-bottom-color: $color-atoll

    &[data-placement*="left"] .arrow
      border-left-color: $color-atoll
