@import "../utils/colors"

.junipero.junipero-tooltip
  color: $color-white
  border-radius: 3px
  opacity: 0
  padding: 8px 21px
  position: absolute
  pointer-events: none
  user-select: none
  text-align: center
  z-index: 999

  &.opened
    opacity: 1
    margin-top: 0px
    margin-left: 0px
    visibility: visible

  &:before
    content: ''
    height: 0
    position: absolute
    width: 0
    display: block

  &.placement-top, &.placement-bottom
    transform: translateX(-50%)

    &:before
      left: 50%
      transform: translateX(-50%)
      border-left: 8px solid transparent
      border-right: 8px solid transparent

  &.placement-left, &.placement-right
    transform: translateY(-50%)

    &:before
      top: 50%
      transform: translateY(-50%)
      border-top: 8px solid transparent
      border-bottom: 8px solid transparent

  &.placement-top
    margin-top: -16px

    &:before
      border-top-width: 8px
      border-top-style: solid
      bottom: -8px

  &.placement-bottom
    margin-top: 16px

    &:before
      border-bottom-width: 8px
      border-bottom-style: solid
      top: -8px


  &.placement-left
    margin-left: -16px

    &:before
      right: -8px
      border-left-width: 8px
      border-left-style: solid


  &.placement-right
    margin-left: 16px

    &:before
      border-right-width: 8px
      border-right-style: solid
      left: -8px

  &.theme-none
    background: $color-shuttle-gray

    &.placement-top:before
      border-top-color: $color-shuttle-gray

    &.placement-right:before
      border-right-color: $color-shuttle-gray

    &.placement-bottom:before
      border-bottom-color: $color-shuttle-gray

    &.placement-left:before
      border-left-color: $color-shuttle-gray

  &.theme-default
    background: $color-atoll

    &.placement-top:before
      border-top-color: $color-atoll

    &.placement-right:before
      border-right-color: $color-atoll

    &.placement-bottom:before
      border-bottom-color: $color-atoll

    &.placement-left:before
      border-left-color: $color-atoll
