name: release-pr

on:
  push:
    branches:
      - master

jobs:
  release-pr:
    name: Maintain Release PR
    runs-on: ubuntu-24.04
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GH_RELEASE_PLEASE_TOKEN_PUBLIC }}
          config-file: .github/release-please.config.json
          manifest-file: .github/release-please.manifest.json
